// out: false
.footer {
  background-image: url(https://preview.uideck.com/items/furnish-opl/assets/images/xfooter-bg.png.pagespeed.ic.Hg5ENdPEL-.png);
  .block-footer {
    display: flex;
    align-items: center;
    margin-left: 280px;
    margin-top: 100px;
    .furnish {
      width: 18%;
      margin-top: -25px;
      p {
        font-weight: 400;
        color: #777;
        line-height: 1.6;
      }
      .social-icons {
        display: flex;
        margin: 15px 0;
        text-align: center;
        span {
          margin-right: 10px;
        }
        a {
          display: flex;
          border: 1px solid #fff;
          border-radius: 999px;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          font-size: 1.6rem;
          color: #777;
        }
        a:hover {
          border: 1px solid #fe7865;
          border-radius: 999px;
          color: #fff;
          background: #fe7865;
          transition: all 0.4s ease-in-out;
        }
      }
    }
    .shc-info {
      display: flex;
      width: 100%;
      margin-left: 30px;
      .shc-font {
        font-size: 2rem;
      }
      .services {
        width: 30%;
        .list {
          a {
            flex-direction: column;
            color: #777;
            margin: 10px 0;
          }
        }
      }
      .help {
        width: 25%;
        .help-list {
          a {
            color: #777;
            margin: 10px 0;
          }
        }
      }
      .contacts {
        width: 23%;
        .list {
          display: flex;
          margin: 10px 0;
          color: #777;
        }
      }
    }
  }
}

