// out: false

@import "./_variable.less";

#home {
  background-color: @third-color;
}

/* Phần slide */
.slider {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .slider-wrapper {
    width: 100%;
    margin: 15px auto;
    background-color: @sixth-color;
    position: relative;
    overflow: hidden;

    .slider-main {
      display: flex;
      position: relative;

      .slide {
        width: 100%;
        display: flex;
        align-items: center;
        flex: 1 0 100%;
        flex-grow: 1; /* cho phép nó giãn ra */
        flex-shrink: 0; /* không cho phép giãn ra */
        flex-basis: 100%; /*để slide luôn luôn full */
        display: none;

        .image-slide {
          width: 40%;
          position: relative;
          display: block;

          .discout-slide {
            width: 100px;
            height: 100px;
            border: 1px solid @main-color;
            color: @third-color;
            border-radius: 50%;
            background-color: @main-color;
            position: absolute;
            top: 15%;
            left: 88%;
            text-align: center;
            font-size: 18px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        .content-slide {
          width: 60%;
          margin-left: 70px;
        }
      }
    }
  }
}

/* Nội dung của slide */
.imgSlide {
  width: 100%;
  vertical-align: middle;
}

.h1-slide {
  font-family: "Poppins", sans-serif;
  font-size: 92px;
  color: @fifth-color;
  margin: 0px 0px 10px;
  font-weight: 500;
  line-height: 110px;
}

.p-slide {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

/* Phần Social */
.slide-social {
  position: absolute;
  bottom: 0%;
  right: 5%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: right;

  .line {
    content: "";
    height: 1px;
    width: 30%;
    background-color: @main-color;
    align-content: center;
    margin-right: 80px;
  }

  .icon-slide-social {
    align-content: center;
    text-align: center;
    border: 1px solid #ddd;
    color: #ddd;
    width: 30px;
    height: 30px;
    line-height: 1px;
    margin: 10px;
    padding: 5px;

    &:hover {
      border: 1px solid @main-color;
      color: @main-color;
    }
  }
}

/* Phần Dot điều khiển */
.slider-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;

  .dot {
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: @fourth-color;
    border-radius: 50%;
    margin: 20px;
    transition: background-color 0.6s ease;

    &:hover {
      cursor: pointer;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: @main-color;
      border-radius: 50%;
    }
  }
}

li.dot.activedot {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: @main-color;
  border-radius: 50%;
}

/* Phần hiệu ứng khi chuyển slide */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1199.98px) and (max-width: 1920px) {
  .slider {
    .slider-wrapper {
      .slider-main {
        .slide {
          .image-slide {
            .discout-slide {
              margin-left: 10px;
              p {
                margin-top: 15px;
              }
            }
          }
          .content-slide {
            .imgSlide {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 991.98px) and (max-width: 1199.96px) {
  .slider {
    .slider-wrapper {
      .slider-main {
        .slide {
          .image-slide {
            .discout-slide {
              margin-left: -15px;
              p {
                margin-top: 15px;
              }
            }
          } 
          .content-slide {
            .imgSlide {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .h1-slide {
    font-size: 52px;
    line-height: 60px;
  }

  .slide-social {
    bottom: 0px;

    .line {
      width: 30%;
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 991.96px) {
  .slider {
    width: 100%;

    .slider-wrapper {
      .slider-main {
        .slide {
          .image-slide {
            width: 100%;
            .discout-slide {
              margin-left: -4px;
              p {
                margin-top: 15px;
              }
            }
          }

          .content-slide {
            width: 100%;
            margin-left: 70px;
            padding: 40px 15px 50px;
          }
        }
      }
    }
  }

  .h1-slide {
    font-size: 52px;
    line-height: 60px;
  }

  .slide-social {
    bottom: 0px;
    right: 0;

    .line {
      width: 25%;
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 454px) and (max-width: 575.98px) {
  .slider {
    width: 100%;

    .slider-wrapper {
      .slider-main {
        .slide {
          .image-slide {
            display: none;
          }

          .content-slide {
            width: 100%;
            margin-left: 0px;
            padding: 40px 15px 50px;
          }
        }
      }
    }
  }

  .h1-slide {
    font-size: 52px;
    line-height: 60px;
  }

  .slide-social {
    bottom: 0px;
    right: 0;

    .line {
      width: 48%;
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 566px) {
  .slider {
    width: 100%;

    .slider-wrapper {
      .slider-main {
        .slide {
          .image-slide {
            display: none;
          }

          .content-slide {
            width: 100%;
            margin-left: 0px;
            padding: 40px 15px 50px;
          }
        }
      }
    }
  }

  .h1-slide {
    font-size: 42px;
    line-height: 60px;
  }

  .slide-social {
    bottom: 0px;

    .line {
      width: 40%;
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 440px) {
  .slider {
    width: 100%;

    .slider-wrapper {
      .slider-main {
        .slide {
          .image-slide {
            display: none;
          }

          .content-slide {
            width: 100%;
            margin-left: 0px;
            padding: 40px 15px 50px;
          }
        }
      }
    }
  }

  .h1-slide {
    font-size: 42px;
    line-height: 60px;
  }

  .slide-social {
    bottom: 0px;

    .line {
      width: 35%;
      margin-right: 20px;
    }
  }
}
