// out: false

@import "./_variable.less";

.products-cotainer {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 130px;
  display: flex;
  flex-wrap: wrap;

  .products-tab {
    text-align: center;
    flex: 0 0 25%;
    max-width: 25%;

    .tab {
      width: 100%;

      .active {
        border: 1px solid @main-color;
        color: @third-color;
        background-color: @main-color;
      }

      a {
        border: 1px solid #ddd;
        line-height: 58px;
        background-color: @third-color;
        font-size: 18px;
        font-weight: 600;
        color: @second-color;
        display: block;
        margin-bottom: -1px;
        cursor: pointer;
      }

      .collection-title {
        border: 1px solid #ddd;
        line-height: 58px;
        background-color: #e5e5e5;
        font-size: 24px;
        font-weight: 600;
        padding: 30px 20px;
        color: @fifth-color;
        margin: 0px auto -1px auto;
      }
    }
  }
}

// Phần chứa các group product
.products-content {
  flex: 0 0 75%;
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  .group-products {
    width: 100%;
    display: none;

    .all-products {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      transition: transform 0.3s linear;

      .product {
        flex: 0 0 34%;
        padding: 0px 15px;
        display: block;

        .img-product {
          display: block;
          overflow: hidden;
          width: 100%;
          z-index: 2;
          position: relative;

          .discout-pro {
            width: 70px;
            height: 70px;
            background-color: @main-color;
            text-align: center;
            border-radius: 50%;
            color: @third-color;
            z-index: 3;

            span {
              font-weight: 600;
              font-size: 22px;
              line-height: 70px;
            }
          }

          .pro1 {
            position: absolute;
            top: 20px;
            right: 20px;
          }

          .pro2 {
            position: absolute;
            top: 20px;
            right: 20px;
          }

          .pro3 {
            position: absolute;
            top: 20px;
            right: 20px;
          }

          .img-disc-product {
            width: 100%;
            vertical-align: middle;
            border-style: none;
            // thiết lập quá trình để phóng to img mất bao nhiêu thời gian
            transition-duration: 0.5s;
            // Safari
            -webkit-transition-duration: 0.5s;
            // Mozilla Firefox
            -moz-transition-duration: 0.5s;
            // Opera
            -o-transition-duration: 0.5s;
            // IE
            -ms-transition-duration: 0.5s;

            &:hover {
              transform: scale(1.2);
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -o-transform: scale(1.2);
              -ms-transform: scale(1.2);
              cursor: pointer;
            }
          }
        }

        .info-product {
          text-align: center;
          margin-top: 30px;

          .title-product {
            font-family: "Poppins", sans-serif;
            color: @fifth-color;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0px;

            a {
              color: @fifth-color;

              &:hover {
                color: @main-color;
              }
            }
          }

          ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            overflow: hidden;
          }

          li {
            float: left;
            display: block;
          }

          i {
            display: inline-block;
          }

          .rating {
            color: #efb85f;
            // padding: 0px 72px;
            display: flex;
            justify-content: center;
          }

          .regular-price {
            display: inline-block;
            color: #c4c4c4;
            margin: 0 3px;
            font-size: 16px;
            font-weight: 600;
            position: relative;
            text-decoration: line-through;
          }

          .discout-price {
            display: inline-block;
            color: @main-color;
            margin: 0 3px;
            font-size: 16px;
            font-weight: 600;
            position: relative;
          }
        }
      }
    }
  }
}

// Phần chỉnh slide
.control-slide-product {
  display: block;
  color: @main-color;
  position: absolute;
  right: -80px;
  text-align: center;
  z-index: 9;
  cursor: pointer;
  background-color: @third-color;
  opacity: 1;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.next {
  border: 1px solid @main-color;
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  top: 125px;

  &:hover {
    border: 1px solid @main-color;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    background-color: @main-color;
    color: @third-color;
  }

  i {
    font-size: 25px;
  }
}

.previous {
  border: 1px solid @main-color;
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  top: 190px;

  &:hover {
    border: 1px solid @main-color;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    background-color: @main-color;
    color: @third-color;
  }

  i {
    font-size: 25px;
  }
}

@media (min-width: 1199.98px) and (max-width: 1920px) {
  .products-cotainer {
    width: 90%;

    .products-content {
      .group-products {
        .control-slide-product {
          margin-right: 24px;
        }
        .all-products {
          .product {
            flex: 0 0 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .products-cotainer {
    width: 95%;

    .products-content {
      .group-products {
        .all-products {
          .product {
            flex: 0 0 50%;
          }
        }
      }
    }
  }

  .control-slide-product {
    position: absolute;
    right: -10px;
  }

  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }

  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }
}

@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .products-cotainer {
    width: 95%;

    .products-content {
      .group-products {
        .all-products {
          .product {
            flex: 0 0 50%;
          }
        }
      }
    }
  }

  .control-slide-product {
    position: absolute;
    right: -10px;
  }

  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }

  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.96px) {
  .products-cotainer {
    width: 95%;

    .products-tab {
      .tab {
        .collection-title {
          font-size: 20px;
          padding: 15px 10px;
        }
      }
    }

    .products-content {
      .group-products {
        .all-products {
          .product {
            flex: 0 0 50%;
          }
        }
      }
    }
  }

  .control-slide-product {
    position: absolute;
    right: -10px;
  }

  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }

  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }
}

@media (min-width: 575.98px) and (max-width: 767px) {
  .products-cotainer {
    width: 95%;
    display: block;

    .products-tab {
      max-width: 90%;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;

      .tab {
        .collection-title {
          font-size: 20px;
          padding: 15px 10px;
        }
      }
    }

    .products-content {
      max-width: 100%;

      .group-products {
        .all-products {
          .product {
            flex: 0 0 50%;
          }
        }
      }
    }
  }

  .control-slide-product {
    position: absolute;
    right: -10px;
  }

  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }

  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }
}

@media (min-width: 454px) and (max-width: 575.98px) {
  .products-cotainer {
    width: 95%;
    display: block;

    .products-tab {
      max-width: 100%;
      margin-bottom: 30px;

      .tab {
        .collection-title {
          font-size: 20px;
          padding: 15px 10px;
        }
      }
    }

    .products-content {
      max-width: 100%;

      .group-products {
        .all-products {
          .product {
            flex: 0 0 100%;
          }
        }
      }
    }
  }

  .control-slide-product {
    position: absolute;
    right: -10px;
  }

  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }

  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;

    &:hover {
      border: 1px solid @main-color;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }

    i {
      font-size: 20px;
    }
  }
}
