// out: false
.team-area {
  background-color: @sixth-color;
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .container-bg {
      background: @sixth-color;
      width: 100%;
      padding: 50px 200px;
      .container-tle {
        display: block;
        margin-bottom: 25px;
        h3 {
          display: block;
          color: @fifth-color;
          font-size: 3.2rem;
          font-weight: 600;
          text-align: center;
        }
        p {
          display: block;
          text-align: center;
          width: 32%;
          margin-left: auto;
          margin-right: auto;
          font-size: 1.6rem;
          font-weight: 400;
          color: @second-color;
          padding-bottom: 30px;
        }
      }
      .container-team {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        .info-img {
          text-align: center;
          background: @third-color;
          width: 30%;
          margin-left: 10px;
          margin-right: 10px;
          padding: 20px;
          border: 1px solid @third-color;
          img {
            border-radius: 999px;
            margin-bottom: 25px;
          }
          .info-name {
            a {
              font-size: 1.6rem;
              color: @fifth-color;
              margin-left: 75px;
              margin-bottom: 10px;
              font-weight: 500;
            }
            a:hover {
              color: @main-color;
              transition: all 0.4s ease-in-out;
            }
          }
          .info-function {
            p {
              font-size: 1.4rem;
              color: @second-color;
              letter-spacing: 2px;
              margin-bottom: 10px;
            }
          }
          .social {
            display: flex;
            border: 1px solid #fe7865;
            width: 50%;
            margin: 0 auto;
            border-radius: 20px;
            background: @tenth-color;
            padding: 10px 10px;

            a {
              color: @second-color;
              padding: 0 10px;
              font-size: 1.6rem;
            }
            a:hover {
              color: @seventh-color;
              transition: all 0.4s ease-in-out;
            }
          }
          .img:hover {
            background: @seventh-color;
          }
        }
      }
      .info-img:hover {
        border: 1px solid @seventh-color;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

// Desktops
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .team-area {
    .container {
      .container-bg {
        .container-tle {
          p {
            width: 80%;
            margin-top: 30px;
          }
        }
        .container-team {
          display: flex;
          justify-content: center;
          align-items: center;
          .info-img {
            width: 36%;
            .info-name {
              a {
                justify-content: center;
                margin-left: 0;
              }
            }
            .social {
              width: 130px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .team-area {
    .container {
      .container-bg {
        padding: 50px 40px;
        .container-tle {
          p {
            width: 50%;
          }
        }
        .container-team {
          display: flex;
          flex-direction: row;
          width: 76%;
          .info-img {
            .info-name {
              a {
                margin: 0 60px;
              }
            }
            .info-function {
              p {
                margin: 5px 20px;
              }
            }
            .social {
              width: 130px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 991.96px) {
  .team-area {
    .container {
      .container-bg {
        padding: 50px 40px;
        .container-tle {
          a {
            margin: 5px 12px;
          }
          p  {
            width: 92%;
          }
        }
        .container-team {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .info-img {
            padding: 30px;
            margin-bottom: 30px;
            width: 306px;
            .social {
              width: 128px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 454px) and (max-width: 575.98px) { 
  .team-area {
    .container {
      .container-bg {
        padding: 0;
        .container-tle {
          a {
            width: 100%;
          }
          p {
            width: 100%;
          }
        }
        .container-team {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 86px;
          .info-img {
            width: 360px;
            padding: 30px;
            margin-bottom: 30px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}


