@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;0,800;0,900;1,500&display=swap");
.team-area {
  background-color: #fffaf6;
}
.team-area .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.team-area .container .container-bg {
  background: #fffaf6;
  width: 100%;
  padding: 50px 200px;
}
.team-area .container .container-bg .container-tle {
  display: block;
  margin-bottom: 25px;
}
.team-area .container .container-bg .container-tle h3 {
  display: block;
  color: #333333;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}
.team-area .container .container-bg .container-tle p {
  display: block;
  text-align: center;
  width: 32%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
  padding-bottom: 30px;
}
.team-area .container .container-bg .container-team {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.team-area .container .container-bg .container-team .info-img {
  text-align: center;
  background: #fff;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border: 1px solid #fff;
}
.team-area .container .container-bg .container-team .info-img img {
  border-radius: 999px;
  margin-bottom: 25px;
}
.team-area .container .container-bg .container-team .info-img .info-name a {
  font-size: 1.6rem;
  color: #333333;
  margin-left: 75px;
  margin-bottom: 10px;
  font-weight: 500;
}
.team-area .container .container-bg .container-team .info-img .info-name a:hover {
  color: #fe7865;
  transition: all 0.4s ease-in-out;
}
.team-area .container .container-bg .container-team .info-img .info-function p {
  font-size: 1.4rem;
  color: #777;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.team-area .container .container-bg .container-team .info-img .social {
  display: flex;
  border: 1px solid #fe7865;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  background: #ffe8e5;
  padding: 10px 10px;
}
.team-area .container .container-bg .container-team .info-img .social a {
  color: #777;
  padding: 0 10px;
  font-size: 1.6rem;
}
.team-area .container .container-bg .container-team .info-img .social a:hover {
  color: #fe7f6d;
  transition: all 0.4s ease-in-out;
}
.team-area .container .container-bg .container-team .info-img .img:hover {
  background: #fe7f6d;
}
.team-area .container .container-bg .info-img:hover {
  border: 1px solid #fe7f6d;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .team-area .container .container-bg .container-tle p {
    width: 80%;
    margin-top: 30px;
  }
  .team-area .container .container-bg .container-team {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-area .container .container-bg .container-team .info-img {
    width: 36%;
  }
  .team-area .container .container-bg .container-team .info-img .info-name a {
    justify-content: center;
    margin-left: 0;
  }
  .team-area .container .container-bg .container-team .info-img .social {
    width: 130px;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .team-area .container .container-bg {
    padding: 50px 40px;
  }
  .team-area .container .container-bg .container-tle p {
    width: 50%;
  }
  .team-area .container .container-bg .container-team {
    display: flex;
    flex-direction: row;
    width: 76%;
  }
  .team-area .container .container-bg .container-team .info-img .info-name a {
    margin: 0 60px;
  }
  .team-area .container .container-bg .container-team .info-img .info-function p {
    margin: 5px 20px;
  }
  .team-area .container .container-bg .container-team .info-img .social {
    width: 130px;
  }
}
@media (min-width: 576px) and (max-width: 991.96px) {
  .team-area .container .container-bg {
    padding: 50px 40px;
  }
  .team-area .container .container-bg .container-tle a {
    margin: 5px 12px;
  }
  .team-area .container .container-bg .container-tle p {
    width: 92%;
  }
  .team-area .container .container-bg .container-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-area .container .container-bg .container-team .info-img {
    padding: 30px;
    margin-bottom: 30px;
    width: 306px;
  }
  .team-area .container .container-bg .container-team .info-img .social {
    width: 128px;
  }
}
@media (min-width: 454px) and (max-width: 575.98px) {
  .team-area .container .container-bg {
    padding: 0;
  }
  .team-area .container .container-bg .container-tle a {
    width: 100%;
  }
  .team-area .container .container-bg .container-tle p {
    width: 100%;
  }
  .team-area .container .container-bg .container-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 86px;
  }
  .team-area .container .container-bg .container-team .info-img {
    width: 360px;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
}
.container-blog {
  text-align: center;
}
.container-blog .blog-title {
  margin: 30px 0;
}
.container-blog .blog-title h3 {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 15px;
}
.container-blog .blog-title p {
  font-weight: 400;
  color: #777;
  margin: 0 auto;
  width: 30%;
}
.container-blog .blog-frame {
  display: flex;
  justify-content: center;
}
.container-blog .blog-frame .btn {
  margin-left: 30px;
  border: 1px solid #ddd;
}
.container-blog .blog-frame .btn .blog-image {
  width: 100%;
  overflow: hidden;
}
.container-blog .blog-frame .btn .blog-image .img-disc-product {
  width: 100%;
  vertical-align: middle;
  border-style: none;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.container-blog .blog-frame .btn .blog-image .img-disc-product:hover {
  width: 100%;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  cursor: pointer;
}
.container-blog .blog-content .title {
  margin: 0;
  padding: 0;
}
.container-blog .blog-content a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  line-height: 1.6;
  width: 80%;
  text-align: left;
}
.container-blog .blog-content a:hover {
  color: #fe7865;
  transition: all 0.4s ease-in-out;
}
.container-blog .blog-content p {
  font-style: italic;
  color: #777;
  text-align: center;
  line-height: 1.6;
  margin-left: -50%;
}
.container-blog .blog-name {
  display: flex;
  border-top: 1px solid #ddd;
  width: 100%;
}
.container-blog .blog-name .blog-name-avatar {
  display: flex;
  align-content: center;
  align-items: center;
  width: 70%;
  padding: 25px 0;
}
.container-blog .blog-name .blog-name-avatar img {
  margin-left: 30px;
  width: 15%;
  border-radius: 999px;
}
.container-blog .blog-name .blog-name-avatar a {
  margin-left: 20px;
  color: #777;
}
.container-blog .blog-name .blog-name-avatar a:hover {
  color: #fe7865;
  transition: all 0.4s ease-in-out;
}
.container-blog .blog-name .blog-icon {
  display: flex;
  align-content: center;
  align-items: center;
  width: 30%;
}
.container-blog .blog-name .blog-icon a {
  margin-left: 15px;
  color: #333333;
}
.container-blog .blog-name .blog-icon a:hover {
  color: #fe7865;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .container-blog .blog-title p {
    width: 90%;
  }
  .container-blog .blog-frame {
    margin: 0 20px;
  }
  .container-blog .blog-frame .btn {
    margin: 0 15px;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .container-blog {
    padding: 0;
  }
  .container-blog .blog-title p {
    width: 48%;
  }
  .container-blog .blog-frame {
    margin: 0 20px;
  }
  .container-blog .blog-frame .btn {
    margin: 0 15px;
  }
}
@media (min-width: 576px) and (max-width: 991.96px) {
  .container-blog {
    padding: 0;
  }
  .container-blog .blog-title p {
    width: 59%;
  }
  .container-blog .blog-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  .container-blog .blog-frame .btn {
    width: 90%;
    margin: 15px 0;
  }
}
@media (min-width: 454px) and (max-width: 575.98px) {
  .container-blog {
    padding: 0;
  }
  .container-blog .blog-title p {
    width: 80%;
  }
  .container-blog .blog-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  .container-blog .blog-frame .btn {
    margin: 15px 0;
  }
}
.contact {
  background: #fff;
}
.contact .contact-title h2 {
  text-align: center;
  font-size: 6rem;
  color: #333333;
  font-weight: 600;
  margin: 100px 0;
}
.contact .block-contact {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(156, 156, 156, 0.25);
}
.contact .block-contact .contact-info {
  width: 25%;
  margin-left: -240px;
}
.contact .block-contact .contact-info h4 {
  font-size: 2.6rem;
  font-weight: 600;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 25px;
}
.contact .block-contact .contact-info .social-item {
  display: flex;
  align-items: center;
  margin: 5px;
}
.contact .block-contact .contact-info .social-item .social-icon {
  font-size: 2rem;
  margin: 15px 0;
  color: #fe7865;
}
.contact .block-contact .contact-info .social-item .color {
  color: #777;
  margin-left: 25px;
}
.contact .block-contact .contact-form {
  width: 50%;
  margin-right: -240px;
}
.contact .block-contact .contact-form .name-email {
  display: flex;
  margin: 30px 0;
}
.contact .block-contact .contact-form .name-email .name {
  width: 50%;
  margin-right: 30px;
}
.contact .block-contact .contact-form .name-email .name input {
  width: 100%;
  height: 55px;
}
.contact .block-contact .contact-form .name-email .email {
  width: 50%;
}
.contact .block-contact .contact-form .name-email .email input {
  width: 100%;
  height: 55px;
}
.contact .block-contact .contact-form .message textarea {
  width: 100%;
  height: 155px;
}
.contact .block-contact .contact-form .button {
  width: 35%;
  text-align: center;
  font-weight: 400;
  color: #fff;
  background: #fe7865;
  padding: 15px 0;
  border: 1px solid #fe7865;
  margin: 30px 0;
  cursor: pointer;
}
.contact .block-contact .contact-form .button:hover {
  color: #fe7865;
  background: #fff;
  border: 1px solid #fe7865;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .contact {
    margin-top: 0;
  }
  .contact .block-contact .contact-info {
    margin-right: -92px;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .contact {
    margin-top: 0;
  }
  .contact .block-contact {
    width: 90%;
  }
  .contact .block-contact .contact-info {
    margin-right: -92px;
  }
  .contact .block-contact .contact-info .social-item {
    width: 100%;
  }
  .contact .block-contact .contact-info .social-item .social-home p {
    width: 130%;
  }
}
@media (min-width: 576px) and (max-width: 991.96px) {
  .contact {
    margin-top: 0;
  }
  .contact .block-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .contact .block-contact .contact-info {
    margin-right: 100px;
  }
  .contact .block-contact .contact-info h4 {
    font-size: 2rem;
    font-weight: 500;
  }
  .contact .block-contact .contact-info .social-item {
    width: 135%;
  }
  .contact .block-contact .contact-info .social-item .social-home p {
    width: 160%;
  }
  .contact .block-contact .contact-form {
    margin-right: 42%;
  }
  .contact .block-contact .contact-form .name-email {
    display: flex;
    flex-direction: column;
  }
  .contact .block-contact .contact-form .name-email .name {
    margin-bottom: 15px;
    width: 184%;
  }
  .contact .block-contact .contact-form .name-email .email {
    width: 184%;
  }
  .contact .block-contact .contact-form .message {
    width: 184%;
  }
  .contact .block-contact .contact-form .button {
    width: 70%;
  }
}
@media (min-width: 454px) and (max-width: 575.98px) {
  .contact {
    margin-top: 0;
  }
  .contact .block-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .contact .block-contact .contact-info {
    margin-left: -65%;
  }
  .contact .block-contact .contact-info h4 {
    width: 127%;
    font-size: 2rem;
    font-weight: 500;
  }
  .contact .block-contact .contact-info .social-item {
    width: 172%;
  }
  .contact .block-contact .contact-info .social-item .social-home p {
    width: 170%;
  }
  .contact .block-contact .contact-form {
    margin-right: 42%;
  }
  .contact .block-contact .contact-form .name-email {
    display: flex;
    flex-direction: column;
  }
  .contact .block-contact .contact-form .name-email .name {
    margin-bottom: 15px;
    width: 184%;
  }
  .contact .block-contact .contact-form .name-email .email {
    width: 184%;
  }
  .contact .block-contact .contact-form .message {
    width: 184%;
  }
  .contact .block-contact .contact-form .button {
    width: 70%;
  }
}
.footer-area {
  position: relative;
}
.footer-area .container-ft {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
.footer-area .container-ft .footer-inner {
  padding-top: 75px;
  padding-bottom: 120px;
  margin-left: 15px;
  margin-right: 20px;
}
.footer-area .container-ft .footer-inner .row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}
.footer-area .container-ft .footer-inner .row .footer-logo {
  width: 24%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.footer-area .container-ft .footer-inner .row .footer-logo a {
  margin-bottom: 10px;
}
.footer-area .container-ft .footer-inner .row .footer-logo .mt-10 {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  color: #777;
  margin: 0;
}
.footer-area .container-ft .footer-inner .row .footer-logo .social-icons {
  display: flex;
  margin-top: 15px;
}
.footer-area .container-ft .footer-inner .row .footer-logo .social-icons a {
  color: #777;
  width: 35px;
  height: 35px;
  line-height: 38px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.2);
  transition: all 0.4s ease-out 0s;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-area .container-ft .footer-inner .row .footer-logo .social-icons a:hover {
  color: #fff;
  transition: all 0.4s ease-out 0s;
  background-color: #fe7865;
}
.footer-area .container-ft .footer-inner .row .mt-50s {
  margin-top: 50px;
  width: 258px;
}
.footer-area .container-ft .footer-inner .row .mt-50s .footer-title {
  font-size: 2rem;
  padding-bottom: 5px;
}
.footer-area .container-ft .footer-inner .row .mt-50s .list a {
  margin-top: 15px;
  color: #777;
}
.footer-area .container-ft .footer-inner .row .mt-50s .list a:hover {
  color: #fe7865;
  transition: all 0.4s ease-out 0s;
}
.footer-area .container-ft .footer-inner .row .mt-50s .flex {
  display: flex;
  margin-top: 25px;
  width: 300px;
}
.footer-area .container-ft .footer-inner .row .mt-50s .flex span {
  color: #777;
  margin-right: 15px;
}
.footer-area .container-ft .footer-inner .row .mt-50s .flex .color {
  color: #777;
}
.footer-area .container-ft .footer-inner .mt-50s {
  width: 170px;
  margin-top: 50px;
  margin-left: 40px;
}
.footer-area .container-ft .footer-inner .mt-50s .footer-title {
  font-size: 2rem;
  padding-bottom: 5px;
}
.footer-area .container-ft .footer-inner .mt-50s .list a {
  margin-top: 15px;
  color: #777;
}
.footer-area .container-ft .footer-inner .mt-50s .list a:hover {
  color: #fe7865;
  transition: all 0.4s ease-out 0s;
}
.footer-area .container-ft .footer-copyright {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.footer-area .container-ft .footer-copyright .row .copyright p {
  display: flex;
}
.footer-area .container-ft .footer-copyright .row .copyright p a {
  color: #fe7865;
  margin-left: 5px;
}
.footer-area::before {
  position: absolute;
  content: "";
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 800px;
  bottom: 0;
  left: 0;
  background-size: 100% 100%;
  z-index: -1;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .footer-area .container-ft {
    width: 90%;
  }
  .footer-area .container-ft .footer-inner .row {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-area .container-ft .footer-inner .row .footer-logo {
    width: 290px;
    margin-left: 0;
  }
  .footer-area .container-ft .footer-inner .row .ft {
    margin-left: 12px;
  }
  .footer-area .container-ft .footer-copyright {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .footer-area .container-ft {
    width: 90%;
  }
  .footer-area .container-ft .footer-inner {
    width: 90%;
  }
  .footer-area .container-ft .footer-inner .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -117px;
    margin-left: 15px;
  }
  .footer-area .container-ft .footer-inner .row .footer-logo {
    width: 27%;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 0;
  }
  .footer-area .footer-copyright {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) and (max-width: 991.96px) {
  .footer-area .container-ft {
    width: 100%;
  }
  .footer-area .container-ft .footer-inner .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
  }
  .footer-area .container-ft .footer-inner .row .footer-logo {
    width: 27%;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 0;
  }
  .footer-area .container-ft .footer-copyright {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 454px) and (max-width: 575.98px) {
  .footer-area {
    width: 90%;
  }
  .footer-area .container-ft {
    width: 90%;
  }
  .footer-area .container-ft .footer-inner {
    width: 90%;
  }
  .footer-area .container-ft .footer-inner .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
  .footer-area .container-ft .footer-inner .row .footer-logo {
    margin-left: 40px;
    width: 90%;
  }
  .footer-area .footer-copyright {
    width: 90%;
    margin: 0 auto;
  }
}
.container-title .container-title-bg img {
  width: 100%;
}
.container-title .container-title-desc {
  display: flex;
  margin-top: -220px;
}
.container-title .container-title-desc .title-ctn {
  width: 485px;
  margin: 0 auto;
  background: #e96f5f;
  opacity: 0.9;
  padding: 0 10px;
  color: #fff;
  margin-right: 50px;
}
.container-title .container-title-desc .quote {
  font-size: 8rem;
  margin: 0 10px;
}
.container-title .container-title-desc .lorem {
  margin-top: 0;
  font-size: 2.9rem;
  line-height: 1.6;
  font-style: italic;
  margin-left: 10px;
}
.container-title .container-title-desc .nameJD {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 10px;
}
.container-title .container-title-desc .position {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 40px;
  margin-left: 10px;
}
.container-title .container-title-desc .title-video {
  width: 50%;
  font-size: 10rem;
  text-align: center;
  padding-left: 420px;
}
.container-title .container-title-desc .title-video i {
  background: #fff;
  color: #fe7865;
  border-radius: 999px;
}
.container-title .container-title-desc .title-video i:hover {
  background: #fe7865;
  color: #fff;
  border-radius: 999px;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  width: 100%;
}
@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .container-title {
    width: 100%;
  }
  .container-title .container-title-desc .title-ctn {
    margin-left: 10%;
  }
  .container-title .container-title-desc .title-video {
    padding-left: 35%;
  }
}
@media (min-width: 576px) and (max-width: 991.96px) {
  .container-title .container-title-bg img {
    width: 100%;
    height: 50%;
  }
  .container-title .container-title-desc .title-ctn {
    width: 100%;
    margin: 105px auto;
  }
  .container-title .container-title-desc .title-ctn p {
    width: 100%;
  }
  .container-title .container-title-desc .title-video {
    display: none;
  }
}
@media (min-width: 454px) and (max-width: 575.98px) {
  .container-title .container-title-desc {
    width: 100%;
  }
  .container-title .container-title-desc .title-ctn {
    margin: 140px 0;
    width: 100%;
  }
  .container-title .container-title-desc .title-ctn p {
    width: 100%;
  }
  .container-title .container-title-desc .title-video {
    display: none;
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  z-index: 99;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  cursor: pointer;
  color: #fff;
  background-color: #fe7865;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
#myBtn:hover {
  background-color: #fff;
  color: #fe7865;
  transition: all 0.4s ease-out 0s;
}
.header {
  padding: 30px 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
}
.header .header-content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}
.header .header-content1 .menu1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  bottom: 0;
  width: auto;
}
.nav {
  float: left;
  display: block;
  color: #777;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}
.nav:hover {
  color: #fe7865;
}
.active1 {
  color: #fe7865;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .header-content2 {
    display: none;
  }
  .logo2 {
    display: none;
  }
  #menu2 {
    display: none;
  }
  .icon-nav {
    display: none;
  }
  .ml {
    margin-left: 207px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .header-content2 {
    display: none;
  }
  .logo2 {
    display: none;
  }
  #menu2 {
    display: none;
  }
  .icon-nav {
    display: none;
  }
  .ml {
    margin-left: 38px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .header .header-content1 {
    width: 95%;
  }
  .header-content2 {
    display: none;
  }
  .logo2 {
    display: none;
  }
  #menu2 {
    display: none;
  }
  .icon-nav {
    display: none;
  }
  .ml {
    margin-left: 205px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .logo1 {
    display: none;
  }
  .menu1 {
    display: none;
  }
  .header-content1 {
    display: none;
  }
  .header-content2 {
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
  }
  .header-content2 #menu2 {
    display: none;
  }
  .header-content2 #menu2 .nav2 {
    display: block;
    color: #777;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 16px;
    cursor: pointer;
  }
  .header-content2 #menu2 .nav2:hover {
    color: #fe7865;
  }
  .header-content2 #menu2 .active2 {
    color: #fe7865;
  }
  .header-content2 .icon-nav {
    color: #777;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .header-content2 .icon-nav .bar1,
  .header-content2 .icon-nav .bar2,
  .header-content2 .icon-nav .bar3 {
    width: 35px;
    height: 5px;
    background-color: #777;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  p {
    margin-left: 38px;
  }
}
@media screen and (min-width: 567px) and (max-width: 767.3px) {
  .logo1 {
    display: none;
  }
  .menu1 {
    display: none;
  }
  .header-content1 {
    display: none;
  }
  .header-content2 {
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
  }
  .header-content2 #menu2 {
    display: none;
  }
  .header-content2 #menu2 .nav2 {
    display: block;
    color: #777;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 16px;
    cursor: pointer;
  }
  .header-content2 #menu2 .nav2:hover {
    color: #fe7865;
  }
  .header-content2 #menu2 .active2 {
    color: #fe7865;
  }
  .header-content2 .icon-nav {
    color: #777;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .header-content2 .icon-nav .bar1,
  .header-content2 .icon-nav .bar2,
  .header-content2 .icon-nav .bar3 {
    width: 35px;
    height: 5px;
    background-color: #777;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .ml {
    margin-left: 38px;
  }
}
@media screen and (min-width: 450px) and (max-width: 566.98px) {
  .logo1 {
    display: none;
  }
  .menu1 {
    display: none;
  }
  .header-content1 {
    display: none;
  }
  .header-content2 {
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
  }
  .header-content2 #menu2 {
    display: none;
  }
  .header-content2 #menu2 .nav2 {
    display: block;
    color: #777;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 16px;
    cursor: pointer;
  }
  .header-content2 #menu2 .nav2:hover {
    color: #fe7865;
  }
  .header-content2 #menu2 .active2 {
    color: #fe7865;
  }
  .header-content2 .icon-nav {
    color: #777;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .header-content2 .icon-nav .bar1,
  .header-content2 .icon-nav .bar2,
  .header-content2 .icon-nav .bar3 {
    width: 35px;
    height: 5px;
    background-color: #777;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .ml {
    margin-left: 38px;
  }
}
@media screen and (min-width: 280px) and (max-width: 440px) {
  .logo1 {
    display: none;
  }
  .menu1 {
    display: none;
  }
  .header-content1 {
    display: none;
  }
  .header-content2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
  }
  .header-content2 #menu2 {
    display: none;
  }
  .header-content2 #menu2 .nav2 {
    display: block;
    color: #777;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 16px;
    cursor: pointer;
  }
  .header-content2 #menu2 .nav2:hover {
    color: #fe7865;
  }
  .header-content2 #menu2 .active2 {
    color: #fe7865;
  }
  .header-content2 .icon-nav {
    color: #777;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .header-content2 .icon-nav .bar1,
  .header-content2 .icon-nav .bar2,
  .header-content2 .icon-nav .bar3 {
    width: 35px;
    height: 5px;
    background-color: #777;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  p {
    margin-left: 38px;
  }
}
#home {
  background-color: #fff;
}
/* Phần slide */
.slider {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.slider .slider-wrapper {
  width: 100%;
  margin: 15px auto;
  background-color: #fffaf6;
  position: relative;
  overflow: hidden;
}
.slider .slider-wrapper .slider-main {
  display: flex;
  position: relative;
}
.slider .slider-wrapper .slider-main .slide {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  flex-grow: 1;
  /* cho phép nó giãn ra */
  flex-shrink: 0;
  /* không cho phép giãn ra */
  flex-basis: 100%;
  /*để slide luôn luôn full */
  display: none;
}
.slider .slider-wrapper .slider-main .slide .image-slide {
  width: 40%;
  position: relative;
  display: block;
}
.slider .slider-wrapper .slider-main .slide .image-slide .discout-slide {
  width: 100px;
  height: 100px;
  border: 1px solid #fe7865;
  color: #fff;
  border-radius: 50%;
  background-color: #fe7865;
  position: absolute;
  top: 15%;
  left: 88%;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.slider .slider-wrapper .slider-main .slide .content-slide {
  width: 60%;
  margin-left: 70px;
}
/* Nội dung của slide */
.imgSlide {
  width: 100%;
  vertical-align: middle;
}
.h1-slide {
  font-family: "Poppins", sans-serif;
  font-size: 92px;
  color: #333333;
  margin: 0px 0px 10px;
  font-weight: 500;
  line-height: 110px;
}
.p-slide {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
/* Phần Social */
.slide-social {
  position: absolute;
  bottom: 0%;
  right: 5%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: right;
}
.slide-social .line {
  content: "";
  height: 1px;
  width: 30%;
  background-color: #fe7865;
  align-content: center;
  margin-right: 80px;
}
.slide-social .icon-slide-social {
  align-content: center;
  text-align: center;
  border: 1px solid #ddd;
  color: #ddd;
  width: 30px;
  height: 30px;
  line-height: 1px;
  margin: 10px;
  padding: 5px;
}
.slide-social .icon-slide-social:hover {
  border: 1px solid #fe7865;
  color: #fe7865;
}
/* Phần Dot điều khiển */
.slider-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.slider-dot .dot {
  cursor: pointer;
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #fbb0a5;
  border-radius: 50%;
  margin: 20px;
  transition: background-color 0.6s ease;
}
.slider-dot .dot:hover {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fe7865;
  border-radius: 50%;
}
li.dot.activedot {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fe7865;
  border-radius: 50%;
}
/* Phần hiệu ứng khi chuyển slide */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .slider .slider-wrapper .slider-main .slide .image-slide .discout-slide {
    margin-left: 10px;
  }
  .slider .slider-wrapper .slider-main .slide .image-slide .discout-slide p {
    margin-top: 15px;
  }
  .slider .slider-wrapper .slider-main .slide .content-slide .imgSlide {
    width: 100%;
  }
  .slide-social {
    bottom: -2%;
  }
}
@media screen and (min-width: 991.98px) and (max-width: 1199.96px) {
  .slider .slider-wrapper .slider-main .slide .image-slide .discout-slide {
    margin-left: -15px;
  }
  .slider .slider-wrapper .slider-main .slide .image-slide .discout-slide p {
    margin-top: 15px;
    margin-left: 0;
  }
  .slider .slider-wrapper .slider-main .slide .content-slide .imgSlide {
    width: 100%;
  }
  .h1-slide {
    font-size: 52px;
    line-height: 60px;
  }
  .slide-social {
    bottom: -2%;
  }
  .slide-social .line {
    width: 30%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 991.96px) {
  .slider {
    width: 100%;
  }
  .slider .slider-wrapper .slider-main .slide .image-slide {
    width: 100%;
  }
  .slider .slider-wrapper .slider-main .slide .image-slide .discout-slide {
    margin-left: -4px;
  }
  .slider .slider-wrapper .slider-main .slide .image-slide .discout-slide p {
    margin-top: 15px;
    margin-left: -4px;
  }
  .slider .slider-wrapper .slider-main .slide .content-slide {
    width: 100%;
    margin-left: 70px;
    padding: 40px 15px 50px;
  }
  .h1-slide {
    font-size: 52px;
    line-height: 60px;
  }
  .slide-social {
    bottom: 0px;
    right: 0;
  }
  .slide-social .line {
    width: 25%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 454px) and (max-width: 575.98px) {
  .slider {
    width: 100%;
  }
  .slider .slider-wrapper .slider-main .slide .image-slide {
    display: none;
  }
  .slider .slider-wrapper .slider-main .slide .content-slide {
    width: 100%;
    margin-left: 0px;
    padding: 40px 15px 50px;
  }
  .h1-slide {
    font-size: 52px;
    line-height: 60px;
  }
  .slide-social {
    bottom: 0px;
    right: 0;
  }
  .slide-social .line {
    width: 48%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 280px) and (max-width: 453.98px) {
  .slider {
    width: 100%;
  }
  .slider .slider-wrapper .slider-main .slide .image-slide {
    display: none;
  }
  .slider .slider-wrapper .slider-main .slide .content-slide {
    width: 100%;
    margin-left: 0px;
    padding: 40px 15px 50px;
  }
  .h1-slide {
    font-size: 42px;
    line-height: 60px;
  }
  .slide-social {
    bottom: 0px;
  }
  .slide-social .line {
    width: 35%;
    margin-right: 20px;
  }
}
.discout-products-content {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex: 1;
}
.discout-products-content .disc-products {
  width: 555px;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  display: block;
}
.discout-products-content .disc-products .disc-img {
  width: 100%;
  overflow: hidden;
  display: block;
}
.discout-products-content .disc-products .disc-img .img-disc-product {
  width: 100%;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.discout-products-content .disc-products .disc-img .img-disc-product:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  cursor: pointer;
}
.discout-products-content .disc-products .content-discout {
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 30px;
}
.discout-products-content .disc-products .content-discout .title-discout-pro {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 15px;
}
.discout-products-content .disc-products .content-discout .view-colection {
  font-size: 16px;
  font-weight: 500;
  color: #777;
}
.discout-products-content .disc-products .content-discout .view-colection:hover {
  color: #fe7865;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .discout-products-content {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .discout-products-content .disc-products {
    width: 100%;
  }
  .discout-products-content .disc-products .content-discout {
    padding: 0px 30px;
  }
}
@media screen and (min-width: 991.98px) and (max-width: 1199.96px) {
  .discout-products-content {
    width: 90%;
  }
  .discout-products-content .disc-products .content-discout {
    padding: 0px 30px;
  }
}
@media screen and (min-width: 576px) and (max-width: 991.96px) {
  .discout-products-content {
    width: 95%;
    display: block;
  }
  .discout-products-content .disc-products {
    width: 100%;
    margin: 12px 3px;
  }
  .discout-products-content .disc-products .content-discout {
    width: 71%;
    padding: 40px 27px;
  }
}
@media screen and (min-width: 454px) and (max-width: 575.98px) {
  .discout-products-content {
    width: 95%;
    display: block;
  }
  .discout-products-content .disc-products {
    width: 100%;
    padding: 15px 15px;
  }
  .discout-products-content .disc-products .content-discout {
    margin: 12px 3px;
    width: 70%;
  }
  .discout-products-content .disc-products .content-discout .title-discout-pro {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (min-width: 280px) and (max-width: 453.98px) {
  .discout-products-content {
    width: 100%;
    display: block;
  }
  .discout-products-content .disc-products {
    width: 100%;
    padding: 15px 15px;
  }
  .discout-products-content .disc-products .content-discout {
    width: 95%;
    padding: 0px 20px;
  }
  .discout-products-content .disc-products .content-discout .title-discout-pro {
    font-size: 15px;
    line-height: 25px;
  }
}
#portfolio {
  padding-top: 100px;
  padding-bottom: 130px;
}
.container-portfolio {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-portfolio .row-por {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container-portfolio .row-por .title-por {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 25px;
}
.container-portfolio .row-por .title-por .title1-por {
  font-size: 35px;
  font-weight: 600;
  color: #333333;
  margin: 0px;
}
.container-portfolio .row-por .content-por {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 25px;
}
.container-portfolio .row-por .content-por .content2-por {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777;
  margin: 0px;
}
.slider-por {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 65px;
}
.slider-por .prev-por {
  position: absolute;
  top: 65px;
  z-index: 9;
  right: 70px;
}
.slider-por .prev-por::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 2px;
  height: 30px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-por .prev-por i {
  width: 70px;
  line-height: 50px;
  background-color: #fe7865;
  color: #fff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.slider-por .next-por {
  position: absolute;
  top: 65px;
  z-index: 9;
  right: 0px;
}
.slider-por .next-por i {
  width: 70px;
  line-height: 50px;
  background-color: #fe7865;
  color: #fff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.slides-por {
  margin-right: 50px;
  margin-bottom: 45px;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slides-por .slide-por {
  margin-right: 50px;
  margin-bottom: 45px;
  position: relative;
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slides-por .slide-por img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
.slides-por .slide-por a {
  position: absolute;
  line-height: 78px;
  padding: 0 70px;
  left: 60px;
  bottom: -40px;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .container-portfolio .row-por {
    display: block;
  }
  .container-portfolio .row-por .slides-por .slide-por {
    width: 96%;
  }
  .container-portfolio .row-por .content-por {
    max-width: 100%;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .container-portfolio {
    width: 95%;
  }
  .container-portfolio .row-por {
    display: block;
  }
  .container-portfolio .row-por .content-por {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 991.96px) {
  .container-portfolio {
    width: 95%;
  }
  .container-portfolio .row-por {
    display: block;
  }
  .container-portfolio .row-por .content-por {
    max-width: 100%;
  }
  .slider-por .prev-por {
    top: 30px;
    right: 50px;
  }
  .slider-por .prev-por i {
    width: 50px;
  }
  .slider-por .next-por {
    top: 30px;
  }
  .slider-por .next-por i {
    width: 50px;
  }
  .slides-por .slide-por {
    margin-right: 0px;
  }
  .slides-por .slide-por a {
    line-height: 48px;
    padding: 0 40px;
    font-size: 16px;
    bottom: 20px;
    left: 40px;
  }
}
@media (min-width: 454px) and (max-width: 575.98px) {
  .container-portfolio {
    width: 95%;
  }
  .container-portfolio .row-por {
    display: block;
  }
  .container-portfolio .row-por .content-por {
    max-width: 100%;
  }
  .slider-por .prev-por {
    top: 30px;
    right: 50px;
    opacity: 0.5;
  }
  .slider-por .prev-por i {
    width: 50px;
  }
  .slider-por .next-por {
    top: 30px;
    opacity: 0.5;
  }
  .slider-por .next-por i {
    width: 50px;
  }
  .slides-por .slide-por {
    margin-right: 0px;
  }
  .slides-por .slide-por a {
    line-height: 48px;
    padding: 0 40px;
    font-size: 16px;
    bottom: 20px;
    left: 40px;
  }
}
#services {
  background-color: #fffaf6;
  padding-top: 100px;
  padding-bottom: 130px;
}
.services-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.services-container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin: 0px;
  padding: 0px;
}
.services-container .row .services-title {
  flex: 0 0 50%;
  max-width: 50%;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.services-container .row .services-title .ser-title {
  font-size: 18px;
  color: #fe7865;
  font-weight: 500;
  padding-left: 110px;
  position: relative;
  margin-bottom: 15px;
}
.services-container .row .services-title .ser-title .ser-line {
  background-color: #fe7865;
  height: 1px;
  width: 100px;
  content: "";
  position: absolute;
  top: 14px;
  left: 0px;
}
.services-container .row .services-title .ser-title2 {
  font-size: 32px;
  font-weight: 600;
  color: #333333;
  margin: 0px;
  margin-bottom: 15px;
}
.services-container .row .services-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777;
  margin: 0px;
}
.services-container .row .colum1 {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 45px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.services-container .row .colum1 .img-service {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}
.services-container .row .colum1 .mt-30 {
  margin-top: 30px;
}
.services-container .row .colum2 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.services-container .row .colum2 .content-services {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 45px;
  justify-content: center;
}
.services-container .row .colum2 .content-services .content-ser {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.services-container .row .colum2 .content-services .content-ser .cell-ser {
  border: 1px solid #ddd;
  padding: 25px 15px;
  background: #fff;
  text-align: center;
  font-size: 16px;
}
.services-container .row .colum2 .content-services .content-ser .cell-ser .icon-ser {
  color: #fe7865;
  font-size: 50px;
}
.services-container .row .colum2 .content-services .content-ser .cell-ser .content-cell {
  margin-top: 10px;
}
.services-container .row .colum2 .content-services .content-ser .cell-ser .content-cell .title-cell {
  font-weight: 600;
  color: #fe7865;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.services-container .row .colum2 .content-services .content-ser .cell-ser .content-cell p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
}
.mt-30 {
  margin-top: 30px;
}
@media (min-width: 1199.98px) and (max-width: 1920px) {
  .services-container {
    width: 95%;
    margin-top: 7px;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .services-container {
    width: 95%;
  }
}
@media (min-width: 576px) and (max-width: 991.96px) {
  .services-container {
    width: 95%;
  }
  .services-container .row {
    display: block;
  }
  .services-container .row .services-title {
    max-width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .services-container .row .colum1 {
    max-width: 100%;
  }
  .services-container .row .colum2 {
    max-width: 100%;
  }
}
@media (min-width: 454px) and (max-width: 575.98px) {
  .services-container {
    width: 95%;
  }
  .services-container .row {
    display: block;
  }
  .services-container .row .services-title {
    max-width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .services-container .row .colum1 {
    max-width: 100%;
  }
  .services-container .row .colum2 {
    max-width: 100%;
  }
  .services-container .row .colum2 .content-services {
    display: block;
  }
  .services-container .row .colum2 .content-services .content-ser {
    max-width: 100%;
  }
}
.products-cotainer {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 130px;
  display: flex;
  flex-wrap: wrap;
}
.products-cotainer .products-tab {
  text-align: center;
  flex: 0 0 25%;
  max-width: 25%;
}
.products-cotainer .products-tab .tab {
  width: 100%;
}
.products-cotainer .products-tab .tab .active {
  border: 1px solid #fe7865;
  color: #fff;
  background-color: #fe7865;
}
.products-cotainer .products-tab .tab a {
  border: 1px solid #ddd;
  line-height: 58px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  color: #777;
  display: block;
  margin-bottom: -1px;
  cursor: pointer;
}
.products-cotainer .products-tab .tab .collection-title {
  border: 1px solid #ddd;
  line-height: 58px;
  background-color: #e5e5e5;
  font-size: 24px;
  font-weight: 600;
  padding: 30px 20px;
  color: #333333;
  margin: 0px auto -1px auto;
}
.products-content {
  flex: 0 0 75%;
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.products-content .group-products {
  width: 100%;
  display: none;
}
.products-content .group-products .all-products {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s linear;
}
.products-content .group-products .all-products .product {
  flex: 0 0 34%;
  padding: 0px 15px;
  display: block;
}
.products-content .group-products .all-products .product .img-product {
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  position: relative;
}
.products-content .group-products .all-products .product .img-product .discout-pro {
  width: 70px;
  height: 70px;
  background-color: #fe7865;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  z-index: 3;
}
.products-content .group-products .all-products .product .img-product .discout-pro span {
  font-weight: 600;
  font-size: 22px;
  line-height: 70px;
}
.products-content .group-products .all-products .product .img-product .pro1 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.products-content .group-products .all-products .product .img-product .pro2 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.products-content .group-products .all-products .product .img-product .pro3 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.products-content .group-products .all-products .product .img-product .img-disc-product {
  width: 100%;
  vertical-align: middle;
  border-style: none;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.products-content .group-products .all-products .product .img-product .img-disc-product:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  cursor: pointer;
}
.products-content .group-products .all-products .product .info-product {
  text-align: center;
  margin-top: 30px;
}
.products-content .group-products .all-products .product .info-product .title-product {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}
.products-content .group-products .all-products .product .info-product .title-product a {
  color: #333333;
}
.products-content .group-products .all-products .product .info-product .title-product a:hover {
  color: #fe7865;
}
.products-content .group-products .all-products .product .info-product ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
}
.products-content .group-products .all-products .product .info-product li {
  float: left;
  display: block;
}
.products-content .group-products .all-products .product .info-product i {
  display: inline-block;
}
.products-content .group-products .all-products .product .info-product .rating {
  color: #efb85f;
  display: flex;
  justify-content: center;
}
.products-content .group-products .all-products .product .info-product .regular-price {
  display: inline-block;
  color: #c4c4c4;
  margin: 0 3px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  text-decoration: line-through;
}
.products-content .group-products .all-products .product .info-product .discout-price {
  display: inline-block;
  color: #fe7865;
  margin: 0 3px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.control-slide-product {
  display: block;
  color: #fe7865;
  position: absolute;
  right: -80px;
  text-align: center;
  z-index: 9;
  cursor: pointer;
  background-color: #fff;
  opacity: 1;
}
.control-slide-product:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.next {
  border: 1px solid #fe7865;
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  top: 125px;
}
.next:hover {
  border: 1px solid #fe7865;
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  background-color: #fe7865;
  color: #fff;
}
.next i {
  font-size: 25px;
}
.previous {
  border: 1px solid #fe7865;
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  top: 190px;
}
.previous:hover {
  border: 1px solid #fe7865;
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  background-color: #fe7865;
  color: #fff;
}
.previous i {
  font-size: 25px;
}
@media (min-width: 1199.98px) and (max-width: 1023px) {
  .products-cotainer {
    width: 95%;
  }
  .products-cotainer .products-content .group-products .all-products .product {
    flex: 0 0 50%;
  }
  .control-slide-product {
    position: absolute;
    right: -10px;
  }
  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }
  .next:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .next i {
    font-size: 20px;
  }
  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;
  }
  .previous:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .previous i {
    font-size: 20px;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.96px) {
  .products-cotainer {
    width: 95%;
  }
  .products-cotainer .products-content .group-products .all-products .product {
    flex: 0 0 50%;
  }
  .control-slide-product {
    position: absolute;
    right: -10px;
  }
  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }
  .next:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .next i {
    font-size: 20px;
  }
  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;
  }
  .previous:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .previous i {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991.96px) {
  .products-cotainer {
    width: 95%;
  }
  .products-cotainer .products-tab .tab .collection-title {
    font-size: 20px;
    padding: 15px 10px;
  }
  .products-cotainer .products-content .group-products .all-products .product {
    flex: 0 0 50%;
  }
  .control-slide-product {
    position: absolute;
    right: -10px;
  }
  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }
  .next:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .next i {
    font-size: 20px;
  }
  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;
  }
  .previous:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .previous i {
    font-size: 20px;
  }
}
@media (min-width: 575.98px) and (max-width: 767px) {
  .products-cotainer {
    width: 95%;
    display: block;
  }
  .products-cotainer .products-tab {
    max-width: 90%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .products-cotainer .products-tab .tab .collection-title {
    font-size: 20px;
    padding: 15px 10px;
  }
  .products-cotainer .products-content {
    max-width: 100%;
  }
  .products-cotainer .products-content .group-products .all-products .product {
    flex: 0 0 50%;
  }
  .control-slide-product {
    position: absolute;
    right: -10px;
  }
  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }
  .next:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .next i {
    font-size: 20px;
  }
  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;
  }
  .previous:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .previous i {
    font-size: 20px;
  }
}
@media (min-width: 454px) and (max-width: 575.98px) {
  .products-cotainer {
    width: 95%;
    display: block;
  }
  .products-cotainer .products-tab {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .products-cotainer .products-tab .tab .collection-title {
    font-size: 20px;
    padding: 15px 10px;
  }
  .products-cotainer .products-content {
    max-width: 100%;
  }
  .products-cotainer .products-content .group-products .all-products .product {
    flex: 0 0 100%;
  }
  .control-slide-product {
    position: absolute;
    right: -10px;
  }
  .next {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }
  .next:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .next i {
    font-size: 20px;
  }
  .previous {
    height: 2em;
    width: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 165px;
  }
  .previous:hover {
    border: 1px solid #fe7865;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  .previous i {
    font-size: 20px;
  }
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  display: flex;
  text-decoration: none;
}
section {
  padding-top: 100px;
  display: block;
}
.main-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #fe7865;
  padding: 0 35px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
  background-color: #fe7865;
}
.main-btn:hover {
  background-color: #fff;
  border: 1px #fe7865 solid;
  color: #fe7865;
}
